
                
                
                /* HEADER */



@media(max-width: 1270px) {

    header .navigation a {
        font-size: 15px;
    }
}

@media(max-width: 1130px) {

    header .navigation a {
        font-size: 12px;
    }

    .content .social {
        margin-left: 60px;
    }

}



@media (max-width: 1100px) {

    .content .info .txt-animation {
        font-size: 25px;
    }

    .content .social {
        margin-left: 55px;
    }
}



@media(max-width: 1060px) {

    ul li a {
        padding: 30px 10px;
    }

    .wrapper ul li {
        margin-left: 18px;
    }

    .content .social {
        margin-left: 40px;
    }
     
}


@media (max-width: 990px) {

    .content .info .txt-animation {
        font-size: 24px;
    }

    .lien .btn-black {
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding: 15px;
        border-radius: 10px;
        font-size: 25px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    .lien .btn-black:hover {
        color: #fff;
        background-color: #000;
    }

    .content .social {
        margin-left: 30px;
    }

}


@media (max-width: 980px) {


    header .navigation a {
        background: none;
        color: #fff;
    }


    header .navigation {
        display: none;
    }

    .wrapper {
        position: fixed;
        top: 0px;
        left: 1000px;
        height: 100%;
        width: 100%;
        background: rgb(0, 0, 0);
        transition: all 0.5s ease-in-out;
        z-index: 5;
    }

    .wrapper.active-menu {
        left: 0;
        transition: all 0.5s ease-in-out;
    }

    .wrapper ul {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style-type: none;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }


    .wrapper ul li {
        margin: 50px 0;
    }

    .wrapper ul li a {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: -15px;
        font-size: 35px;
    }

    .wrapper ul li a:hover {
        background: #fff;
        color: #000;
    }

    
    .navigation {
        opacity: 0;
    }

    .navigation.active-menu {
        opacity: 1;
    }

    .content.active-menu {
        display: none;
    }

    .lien .btn-black {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
        font-weight: bold;
        border: 3px solid #000;
        color: #000;
        border-radius: 10px;
        font-size: 25px;
        width: 100%;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    .content .social {
        margin-left: 30px;
    }

    .social .logo a {
        text-decoration: none;
    }
    

    .content .linkedin:hover a {
        background: none;
        text-decoration: none;
    }
    
    .content .github:hover a {
        background: none;
        text-decoration: none;
    }
    






            /* CENTRE DU HEADER */


    section {
        background-image: none;
    }


    section header .title {
        color: #000;
    }

  
    .box {
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 5px;
        background: #000;
        position: absolute;
        bottom: 80px;
        right: 20px;
        z-index: 10;
    }

    .lignes {
        background: #fff;
    }


    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 160px 160px;
    }


    .photo-profil img {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        height: 250px;
        width: 235px;
        box-shadow: 0 0 0 0 #333;
        animation: pulse 1.3s infinite;
    }


    @keyframes pulse {

        to {
            box-shadow: 0 0 0 15px rgba(255,255,255,0.01);
        }
    }

    .content .photo-profil  {
        height: 300px;
    }

    .content .info h2 {
        display: flex;
        justify-content: center;
        align-items: center;
        color: #000;
        font-size: 25px;
        height: 80px;
    }

    .content .info .txt-animation {
        color: #000;
        font-size: 22px;
        height: 20px;
    }

    .content .social .logo .fab {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;
        width: 60px;
        margin-left: 15px;
        color: #fff;
        background: #000;
        font-size: 25px;
        border-radius: 50%;
    }
}




@media(max-width: 740px) {

    .photo-profil img {
        height: 210px;
        width: 200px;
    }
   
    .content {
        margin: 160px 100px;
    }

   
    .content .photo-profil  {
        height: 260px;
    }

    .content .info h2 {
        font-size: 20px;
        height: 30px;
    }

    .content .info .txt-animation {
        color: #000;
        font-size: 19px;
        height: 30px;
    }

    .content .social a {
        width: 40px;
    }

    .content .social .logo .fab {
        height: 50px;
        width: 50px;
        font-size: 20px;
    }

    .lien .btn-black {
        margin: 10px 0 40px 0;
        font-size: 20px;
    }

    .content .social {
        margin-left: 20px;
    }
}



@media(max-width: 570px) {

    .content .info .txt-animation {
        font-size: 15.5px;
        height: 20px;
    }

    .content .social .logo .fab {
        height: 40px;
        width: 40px;
        font-size: 17px;
    }

    .content .social a {
        width: 40px;
        margin-left: 1px;
    }

    .lien .btn-black {
        margin: 10px 0 30px 0;
        font-size: 15px;
    }

    .content .social {
        margin-left: 30px;
    }
}


@media(max-width: 510px) {

    .content .info .txt-animation {
        font-size: 14.9px;
        height: 20px;
    }
}



@media(max-width: 480px) {

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 160px 50px;
    }

    .content .photo-profil  {
        height: 240px;
    }

    .photo-profil img {
        height: 190px;
        width: 180px;
    }
   
    .content .info h2 {
        font-size: 17px;
        height: 25px;
    }

    .content .info .txt-animation {
        color: #000;
        font-size: 15.5px;
        height: 25px;
    }

    .content .social a {
        width: 30px;
        margin-left: 1px;
    }

    .content .social .logo .fab {
        height: 40px;
        width: 40px;
        font-size: 17px;
    }

    .content .social {
        margin-left: 20px;
    }
}




@media(max-width: 400px) {
  
    .content .info .txt-animation {
        font-size: 13px;
        height: 11px;
    }
}


@media(max-width: 360px) {

    .content .info .txt-animation {
        font-size: 13px;
        height: 11px;
    }
}





@media(max-width: 345px) {

    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 160px 20px;
        
    }


    .content .info .txt-animation {
        font-size: 13px;
    }
}






                /* ABOUT ME */



                
@media(max-width: 980px) {

    #about h3, .p1 {
        margin: 50px 80px;
    }

}


@media(max-width: 745px) {

    #about h3 .p1  {
        margin: 50px 80px;
        color: #fff;
        text-align: center;
    }
}



@media(max-width: 640px) {

    #about h3 {
        margin: 150px 50px 10px;
        color: #fff;
        text-align: center;
    }

    #about .p1{
        margin: 50px 80px;
    }
}


@media(max-width: 570px) {

    #about h3, .p1 .p2 {
        margin: 20px 50px 10px;
        color: #fff;
        text-align: center;
    }
}


@media(max-width: 400px) {

    #about h3, .p1 .p2 {
        margin: 30px 20px 10px;
        color: #fff;
        text-align: center;
    }
}



@media(max-width: 390px) {

    #about h3 {
        font-size: 30px;
    }
}


@media(max-width: 350px) {

    #about h3 {
        font-size: 25px;
    }
}



                



                    /* PORTFOLIO */


@media (max-width: 420px) {

    .title-port {
        font-size: 30px;
        padding: 30px;
    }


    .cont-img-port {
        height: 220px;
    }
}


@media (max-width: 415px) {

    .title-port {
        font-size: 30px ;
    }


    .cont-img-port {
        height: 220px;
    }


    .item h3 {
        font-size: 20px;
    }


    .item p {
        font-size: 15px;
    }


    .btn-projects {
        margin-top: 20px;
    }
}




@media (max-width: 390px) {

    .cont-img-port {
        height: 220px;
    }

    .item h3 {
        font-size: 20px;
    }


    .item p {
        font-size: 15px;
    }

}


@media (max-width: 370px) {

    .item p {
        font-size: 13px;
    }

    .btn-projects {
        margin-top: 25px;
    }
}



@media (max-width: 345px) {

    .cont-img-port {
        height: 190px;
    }


    .item h3 {
        font-size: 16px;
    }

    .item p {
        font-size: 13px;
    }


    .btn-projects {
        margin-top: 50px;
    }
}





                /* SKILLS */

@media(max-width: 990px) {

    .container-skills {
        grid-template-columns: repeat(2, 1fr); 
    }
        
    .item7 {
        display: grid;
        grid-row: 4 / 4;
        grid-column: 1 / 2; 
    }
}


@media(max-width: 500px) {

    .container-skills {
        display: flex;
        flex-direction: column;
    }

    

    .skill-box {
        padding: 50px 0 0 0;
    }
}






                    /* EXPERIENCES */

@media(max-width: 900px) {

    .comp .center-line {
        left: 60px;
        top: 260px;
    }


    .comp .row {
        margin: 30px 0 3px 60px;
    }


    .comp .row .info-me {
        width: 100%;
    }


    .row-1 .info-me::before {
        left: -7px;
    }


    .row-1 .info-me .icon {
        left: -80px;
    }

    .row-2 .info-me .icon {
        left: -80px;
    }
}


@media(max-width: 520px) {

    .comp .center-line,
    .row .info-me::before,
    .row .info-me .icon {
        display: none;
    }


    .comp .row {
        margin: 10px 0;
    }
}


@media(max-width: 520px) {

    .details {
        display: flex;
        flex-direction: column;
    }


    .date {
        padding-top: 20px;
    }


    p {
        padding-top: 10px;
    }
}


@media(max-width: 340px) {

    .row .info-me 
    .details 
    .title {
        font-size: 17px;
    }
}



                /* CONTACT */

@media(max-width: 980px) {

    .network {
        font-size: 40px;
    }

    .btn-back-home {
        display: none
    }

    .backHome {
        display: flex;
        justify-content: center;
    }

    .btn-black-responsive {
        display: flex;
        justify-content: center;
        margin: 50px 0 0 0;
        background: #fff;
        border-radius: 50%;
        width: 60px;
        font-size: 50px;
        box-shadow: 0 0 0 0 rgb(255, 255, 255);
        animation: pulse 1.3s infinite;
    }

    @keyframes pulse {

        to {
            box-shadow: 0 0 0 15px rgba(242, 241, 241, 0.01);
        }
    }

    .arrow-up-responsive a {
        margin: 0px -1px 0px -2px;
        color: #000;
    }
}


@media(max-width: 540px) {

    .social-network {
        margin: 50px 0 0 0;
    }

    .personnel-contact {
        margin: 60px 0 0 0;
    }

    .personnel-contact h3  {
        margin: 10px 0 0 0;
    }

    .backHome {
        margin: 10px 0 0 0;
    }

    .social-network h3 {
        font-size: 20px;
    }

    .network {
        font-size: 40px;
        margin: 20px 0 0 20px;
    }

    .personnel-contact h3 {
        font-size: 20px;
    }

    .private-contact .contact {
        font-size: 20px;
    }

}

@media(max-width: 420px) {

    .social-network h3 {
        font-size: 15px;
    }

    .network {
        font-size: 30px;
    }

    .personnel-contact h3 {
        font-size: 15px;
    }

    .private-contact .contact {
        font-size: 15px;
    }

}