* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Varela Round', sans-serif;

}



/* LIENS DE REDIRECTION */


section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: url('/Front-End/Images/Photo_CV3.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}



header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 30px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header .title {
    position: relative;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
}


.photo-profil img {
    display: none;
}


header .navigation a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1px;
    padding: 2px 15px;
    border-radius: 8px;
    background: #fff;
    transition: 0.3s;
    transition-property: background;
}


header .navigation a:not(:last-child) {
    margin-right: 30px;
}

header .navigation a:hover {
    background: rgb(39, 218, 224);
}



.wrapper ul {
    display: flex;
    list-style-type: none;
}


.wrapper ul li {
    margin-left: 30px;
}








/* MENU HAMBURGER */


.box {
    height: 50px;
    width: 50px;
    border-radius: 2px;
    background: #fff;
    position: fixed;
    top: 20px;
    right: 10px;
    display: none;
}

.contLigne {
    width: 36px;
    height: 36px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lignes {
    width: 100%;
    height: 4px;
    border-radius: 5px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .5s ease-in-out;
}


.lignes::before {
    content: '';
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 4px;
    border-radius: 5px;
}


.lignes::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 4px;
    border-radius: 5px;
}



.lignes:nth-child(1) {
    top: 6px;
}


.lignes:nth-child(2) {
    top: 18px;
}


.lignes:nth-child(3) {
    top: 30px;
}


.btn1.active .lignes:nth-child(1) {
    top: 16px;
    left: 0px;
    transform: rotate(135deg);
}


.btn1.active .lignes:nth-child(2) {
    transform: translateX(-20px);
    opacity: 0;
}


.btn1.active .lignes:nth-child(3) {
    top: 16px;
    left: 0px;
    transform: rotate(-135deg);
}






            /* CENTRE DE LA PAGE */


.content {
    max-width: 650px;
    margin: 260px 250px;
    color: #fff;
}

.content .info h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 60px;
    margin-bottom: 30px;
}


.content .info h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}


.content .info {
    font-size: 20px;
    font-weight: 500;
}


.content .social {
    display: inline-flex;
    margin-top: 20px;
}


.content .logo {
    margin: 0 50px 0 0;
}






        /* BOUTON POUR TÉLÉCHARGER LE C.V. */


.lien .btn-black {
    display: flex;
    justify-content: center;
    font-weight: bold;
    padding: 15px;
    margin: 30px 0 30px 0;
    border: 3px solid #fff;
    border-radius: 10px;
    font-size: 25px;
    width: 50%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.lien .btn-black:hover {
    color: #000;
    background-color: #fff;
}






                /* RESEAUX SOCIAUX */


.social .logo a {
    display: block;
    text-align: center;
    height: 60px;
    width: 60px;
    color: #000;
    background: #fff;
    border-radius: 50%;
    font-size: 30px;
    transition: 0.5s;
}


.social .logo i {
    line-height: 60px;
}


.content .facebook:hover a {
    background: #3b5999;
    color: #fff;
}

.content .instagram:hover a {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    color: #fff;
}


.content .linkedin:hover a {
    background: #0e76a8;
    color: #fff;
}


.content .github:hover a {
    background: #333;
    color: #fff;
}




        /* BOUTON POUR REVENIR A L'ACCUEIL*/


.btn-back-home {
    position: fixed;
    height: 60px;
    width: 60px;
    bottom: 20px;
    right: 50px;
    background-color: #285AEB;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 0 0 rgb(72, 151, 255);
    animation: pulse 1.3s infinite;
}

@keyframes pulse {

    to {
        box-shadow: 0 0 0 15px rgba(242, 241, 241, 0.01);
    }
}

.icon i {
    position: fixed;
    bottom: 30px;
    right: 65px;
    color: #fff;
    font-size: 40px;
}






                    /* A PROPOS */


#about {
    background: #000;
    min-height: 100vh;
}

      

#about .p1 {
    margin: 50px 100px 50px;
    color: #fff;
    text-align: center;
}


#about .about-me {
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: #fff;
    margin: 50px 0;
}






                    /* PORTFOLIO */

.portfolio {
    width: 100%;
    background: #fff;
}


.title-port {
    text-align: center;
    margin: 50px 0;
    font-size: 40px;
}


.cont-portfolio {
    width: 100%;
    height: auto;
    margin: 0 auto 100px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.cont-img-port {
    width: 100%;
    height: 220px;
    overflow: hidden;
}


.cont-img-port img {
    width: 100%;
    height: auto;
}


.item {
    margin: 20px;
    width: 420px;
    background: #f0f2f0;
    transition: transform 0.3s ease-out;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.item:hover {
    transform: translateY(-5px);
}


.item h3 {
    padding: 10px 10px 0;
    font-size: 22px;
}


.item p {
    padding: 10px 10px 0;
}


.btn-projects {
    display: block;
    margin: 10px;
    width: 180px;
    height: 50px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
    color: #333;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}


.btn-projects:hover {
    background: rgb(99, 187, 238);
    transition: 0.5s ease-in-out
}





                    /* COMPÉTENCES */


.section-range {
    width: 100%;
    height: auto;
    padding-bottom: 200px;
    background: #000;
    color: #fff;  
}


.title-exp {
    margin: 50px 0;
    font-size: 40px;
    display: flex;
    justify-content: center;
}


.container-skills {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.skill-box {
    padding: 70px 0 0 0;
}


.item3 {
    display: grid;
    grid-row: 3 / 3;
    grid-column: 3 / 2; 
}




                /* EXPÉRIENCES */

.comp {
    background: #fff;
    max-width: 1080px;
    margin: auto;
    padding: 0 20px;
    position: relative;
}


.comp .exp {
    text-align: center;
    font-size: 40px;
    margin: 50px 0;
}


.info-me {
    margin: 70px 40px;
}



.comp .center-line {
    position: absolute;
    height: 100%;
    width: 4px;
    background: #000;
    top: 230px;
    left: 50%;
    transform: translateX(-50%);
}

.comp .row {
    display: flex;
}

.comp .row-1 {
    justify-content: flex-start;
}

.comp .row-2 {
    justify-content: flex-end;
}


.row .info-me .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.row .info-me .details .title {
    font-size: 22px;
    font-weight: bold;
}

.comp .row .info-me {
    background: #000;
    color: #fff;
    border-radius: 5px;
    width: calc(50% - 95px);
    padding: 20px 15px;
    position: relative;
}


.comp .row .info-me::before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    background: #000;
    top: 28px;
    z-index: 0;
    transform: rotate(45deg);
}


.row-1 .info-me::before {
    right: -7px;
}

.row-2 .info-me::before {
    left: -7px;
}


.row .info-me .icon {
    position: absolute;
    background: #f2f2f2;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    top: 13px;
    box-shadow: 0 0 0 4px #000, inset 0 2px 0 rgb(0,0,0,0.08), 0 3px 0 4px rgba(0,0,0,0.05);
}

.row-1 .info-me .icon {
    right: -76px;
    font-size: 17px;
    color: #000;
}

.row-2 .info-me .icon {
    left: -76px;
    color: #000;
}


.row .info-me p {
    margin: 10px 0 17px 0;
}




                    /* CONTACT */

.section-contact {
    width: 100%;
    height: auto;
    background: #000;
}

.section-contact h2 {
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 50px;
    margin: 50px 0;
}

.social-network {
    color: #fff;
    margin: 110px 0 0 0;
}

.social-network h3 {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.network {
    display: flex;
    justify-content: center;
    font-size: 50px;
    margin: 20px 0 0 0;
}

.network .contact {
    display: flex;
    justify-content: center;
    margin: 20px 0 0 0;
}

.contact i, a {
    color: #fff;
    text-decoration: none;
    margin: -4px 10px 0 0;
}


.personnel-contact h3 {
    display: flex;
    justify-content: center;
    color: #fff;
    margin: 200px 0 0 0;
    font-size: 25px;
}

.private-contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 25px;
    margin: 20px 0 0 0;
}

.personnel-contact .contact {
    display: flex;
    justify-content: center;
    margin: 15px 0 0 0;
}

small {
    color: #fff;
}

.btn-black-responsive {
    display: none;
}



                    /* FOOTER */


footer {
    text-align: center;
    padding: 40px;
}


